<footer class="footer">
	<div class="footer__button">
		<button class="footer__button--item">
			<a href="./#hero">
				<img src="./assets/images/ico-arrow.svg" alt="arrow up"
			/></a>
		</button>
	</div>

	<section class="footer__items">
		<div class="footer__items--copy">
			<p>&copy2021</p>
			<p>
				We <span class="heart">&hearts;</span>
				<span class="components">components</span>
			</p>
		</div>

		<nav>
			<ul class="footer__items--menu1">
				<include src="./footerlink.html" title="Articles"></include>
				<include src="./footerlink.html" title="Books"></include>
				<include src="./footerlink.html" title="Events"></include>
				<include src="./footerlink.html" title="Reasons"></include>
				<include src="./footerlink.html" title="Tips"></include>
			</ul>
		</nav>

		<nav>
			<ul class="footer__items--menu2">
				<include src="./footerlink.html" title="Twitter"></include>
				<include src="./footerlink.html" title="Instagram"></include>
				<include src="./footerlink.html" title="Mastodon.social"></include>
			</ul>
		</nav>
	</section>
</footer>
