<footer>
	<section>
		<p>&copy 2021</p>
		<p>We X components</p>
	</section>

	<nav>
		<ul>
			<li><a href="https://adalab.es/">Articles</a></li>
			<li><a href="https://adalab.es/">Books</a></li>
			<li><a href="https://adalab.es/">Events</a></li>
			<li>Reasons</li>
			<li><a href="https://adalab.es/">Tips</a></li>
		</ul>
	</nav>

	<nav>
		<ul>
			<li><a href="https://adalab.es/">Twitter</a></li>
			<li><a href="https://adalab.es/">Instagram</a></li>
			<li><a href="https://adalab.es/">Mastodon.social</a></li>
		</ul>
	</nav>
</footer>
