//ColorPalette
$dark-grey-blue: #304268;
$greyish-brown: #4a4a4a;
$k-50: rgba(0, 0, 0, 0.5);
$k-50: rgba(0, 0, 0, 0.5);
$lightblue: #8ccbea;
$k-20: rgba(0, 0, 0, 0.2);
$bright-orange: #f26002;
$cerulean: #0271bc;
$white: #fff;
$ice-blue: #eff9ff;
$white-50: rgba(255, 255, 255, 0.5);
$black: #000;

//Fonts
$h1-desktop: 100px "RobotoSlab", serif;
$text-style8: 80px "Roboto Slab", serif;
$text-style: 42px "Roboto Slab", serif;
$h2-desktop: 32px "Roboto Slab", serif;
$h2-tablet: 26px "Roboto Slab", serif;
$text-style11: 24px "Roboto Slab", serif;
$text-style2: 24px "Roboto Slab", serif;
$main-text-tablet: 24px "Roboto", sans-serif;
$b1: 20px "Roboto", sans-serif;
$text-style9: 20px "Roboto", sans-serif;
$text-tablet: 20px "Roboto", sans-serif;
$text-style7: 18px "Roboto Slab", serif;
$text-mobile: 18px "Roboto", sans-serif;
$text-style10: 18px "Roboto", sans-serif;
$category-desktop: 16px "Roboto", sans-serif;
$text-style5: 16px "Roboto", sans-serif;
$text-style6: 16px "Roboto", sans-serif;
$footer: 14px "Roboto", sans-serif;
$text-style4: 14px "Roboto", sans-serif;
