.footer {
	background-color: $dark-grey-blue;
	padding: 0 15px 45px;

	@include tablet {
		padding: 0 39px 45px;
	}
	@include desktop {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 370px 45px;
	}

	&__button {
		height: 45px;
		width: 100%;
		text-align: center;

		&--item {
			border: none;
			border-radius: 50%;
			background-color: $white;
			transform: translateY(-50%);
			animation-duration: 2s;
			animation-name: flash;
			animation-iteration-count: infinite;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		&--menu1 {
			width: 147px;
			margin: 15px 0 30px 0;
		}

		&--menu2 {
			margin: 0 0 30px 0;
		}

		&--copy {
			display: inline-block;
			order: 2;
			font: $footer;
			color: $white;
			line-height: 30px;
			text-transform: lowercase;

			& .heart {
				color: $bright-orange;
				animation-name: boom;
				animation-iteration-count: infinite;
				animation-duration: 1s;
			}
		}

		& .footerlink {
			font: $text-style6;
			color: $white;
			text-transform: uppercase;
			line-height: 30px;
		}

		@include tablet {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			text-align: left;

			&--menu1,
			&--menu2,
			&--copy {
				width: 210px;
				margin: 0;
			}
			&--copy {
				order: 0;
			}
		}

		@include desktop {
			max-width: 730px;

			&--menu1,
			&--menu2,
			&--copy {
				width: 160px;
				margin: 0 30px;
			}
		}
	}
}
