.hero {
	width: 100%;
	height: 100vh;
	background-image: url("../images/cover.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 284px 15px 53px;

	&__title {
		font: $text-style;
		font-weight: bold;
		text-transform: uppercase;
		color: $white;
		line-height: 55px;
		word-spacing: 100vw;
	}

	&__text {
		font: $text-style5;
		color: $white;
		margin: 0 0 45px 0;
	}

	&__button {
		&--item {
			width: 45px;
			height: 45px;
			border: none;
			border-radius: 50%;
			padding: 18px 12px 15.3px 13px;
		}
	}
}
