.looking {
	background-color: $white;
	padding: 30px 15px 45px 15px;

	@media (min-width: 768px) {
		padding: 30px 39px 60px;
	}

	@media (min-width: 1280px) {
		padding: 60px 275px 60px;
	}

	&__article {
		&--small {
			font: $text-style4;
			line-height: 30px;
			color: $lightblue;
			text-transform: capitalize;

			@media (min-width: 1280px) {
				font: $category-desktop;
			}
		}

		&--title {
			height: 60px;
			width: 290px;
			font: $text-style11;
			font-weight: bold;
			color: $black;
			text-transform: capitalize;
			line-height: 30px;

			@media (min-width: 768px) {
				width: 690px;
				font: $h2-tablet;
				line-height: 45px;
			}

			@media (min-width: 1280px) {
				font: $h2-desktop;
			}
		}

		&--text {
			height: 120px;
			width: 290px;
			font: $text-mobile;
			color: $greyish-brown;
			line-height: 30px;
			text-align: left;
			margin: 15px 0 30px 0;

			@media (min-width: 768px) {
				height: auto;
				width: 690px;
				font: $text-tablet;
				margin: 30px 0 30px 0;
			}

			@media (min-width: 1280) {
				width: 730px;
			}
		}

		&--button {
			height: 45px;
			width: 76px;
			font: $text-style9;
			color: $bright-orange;
			border: 2px solid $bright-orange;
			border-radius: 22.5px;
			background-color: transparent;
			transition: all ease 0.5s;

			@media (min-width: 768px) {
				width: 91px;
			}

			@media (min-width: 1280px) {
				width: 160px;
			}
		}

		&--button:hover {
			color: $white;
			background-color: $bright-orange;
			border-color: $cerulean;
		}
	}
}
