.reasons {
	background-color: $ice-blue;
	padding: 30px 15px 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include tablet {
		padding: 30px 40px 60px;
	}

	@include desktop {
		padding: 60px 85px 60px;
	}

	&__title {
		font: $text-style2;
		font-weight: bold;
		text-transform: capitalize;
		line-height: 30px;
		text-align: center;

		@include tablet {
			font: $h2-tablet;
			line-height: 45px;
		}
		@include desktop {
			font: $h2-desktop;
			line-height: 45px;
		}
	}

	&__container {
		margin: 45px 0;
		display: grid;
		grid-template-columns: 180px;
		grid-template-rows: 93px 93px 93px;
		gap: 45px;

		&--article1,
		&--article2,
		&--article3 {
			column-span: 1;
			text-align: center;

			& .articletitle {
				font: $text-style7;
				font-weight: bold;
				line-height: 30px;
			}

			& .articletext {
				font: $text-style10;
				line-height: 30px;
			}
		}

		@include tablet {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			grid-column-gap: 27.7px;
			margin: 45px 0 60px;
			& .articletitle {
				font: $text-style2;
				line-height: 30px;
			}
			& .articletext {
				margin-top: 14px;
				font: $text-tablet;
				line-height: 30px;
			}
		}

		@include desktop {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			grid-column-gap: 27.7px;
		}
	}

	&__button {
		height: 45px;
		width: 184px;
		background-color: $bright-orange;
		font: $b1;
		color: $white;
		border: none;
		border-radius: 22.5px;
		transition: all ease 0.2s;

		@include tablet {
			width: 210px;
		}

		@include desktop {
			width: 255px;
		}
	}

	&__button:hover {
		width: 210px;
		border-radius: 30px;
		font-size: 22px;

		@include tablet {
			width: 230px;
			border-radius: 35px;
			font-size: 24px;
		}

		@include desktop {
			width: 260px;
			border-radius: 40px;
			font-size: 24px;
		}
	}
}
